template(name='dashboard')
    .ui.stackable.padded.grid
        .row
            .four.wide.column
                +todays_schedule
                +product_stats
            .four.wide.column
                +most_frequent_buyers
                +most_lucrative_buyers
                +bookmarked_users
            .four.wide.column
                +top_selling_products
                .ui.header 
                    i.food.grey.icon
                    |top selling food
                .ui.header 
                    i.tags.grey.icon
                    |top selling tags
            .four.wide.column
                +todays_stats
                +weekly_stats
                +monthly_stats
        .row
            .sixteen.wide.column
                .ui.header 
                    i.th.grey.icon
                    |your products
                .ui.five.cards
                    each my_products
                        +product_card
                
        
template(name='bookmarked_users')
    .ui.header 
        i.favorite.grey.icon
        |bookmarked users
    //- .ui.small.header #{currentUser.current_product_count} products
    //- .ui.small.header #{currentUser.reservation_count} reservations
        
        
        
template(name='most_frequent_buyers')
    .ui.secondary.segment
        .ui.header 
            i.user.grey.icon
            |most frequent buyers
        each most_frequent_buyers
            a(href="/user/#{username}")
                .ui.small.header
                    img.ui.avatar.image(src="{{c.url image_id width=100 height=100 gravity='face' crop='crop'}}")        
                    | #{username}
        
        
        
        
template(name='most_lucrative_buyers')
    .ui.secondary.segment
        .ui.header 
            i.user.grey.icon
            |most lucrative buyers
        each most_lucrative_buyers
            a(href="/user/#{username}")
                .ui.small.header
                    img.ui.avatar.image(src="{{c.url image_id width=100 height=100 gravity='face' crop='crop'}}")        
                    | #{username}
        
        
        
template(name='top_selling_products')
    .ui.secondary.segment
        .ui.header
            i.star.grey.icon
            | top selling products
        .ui.animated.list
            each top_products
                a.item(href="/shop/#{_id}/view")
                    .ui.small.header
                        img.ui.avatar.image(src="{{c.url image width=100 height=100 gravity='face' crop='crop'}}")        
                        | #{title}
        
        
        
        
template(name='todays_stats')
    .ui.secondary.segment
        .ui.header 
            i.sun.grey.icon
            |todays stats
        .ui.small.header $#{currentUser.todays_earnings} earned
        .ui.grey.icon.button.redraw_todays_stats 
            i.refresh.grey.icon
        each todays_reservations
            .ui.header #{date} #{notes}
            a(href="/shop/#{product_id}/view") product view
        .ui.header available jobs
        each negative_products
            .ui.small.header #{title}



template(name='weekly_stats')
    .ui.secondary.segment
        .ui.header 
            i.list.grey.icon
            |weekly stats
        .ui.small.header $#{currentUser.weekly_earnings} earned
        .ui.small.header #{currentUser.weekly_reservations} reservations
        .ui.grey.icon.button.redraw_weekly_stats
            i.refresh.grey.icon



template(name='monthly_stats')
    .ui.secondary.segment
        .ui.header 
            i.calendar.grey.icon
            |monthly stats
        .ui.small.header $#{todays_earnings} earned
        .ui.grey.icon.button.redraw_monthly_stats
            i.refresh.grey.icon
        each todays_reservations
            .ui.header #{date} #{notes}
            a(href="/shop/#{product_id}/view") product view





template(name='todays_schedule')
    .ui.secondary.segment
        .ui.header
            i.calendar.grey.icon
            |schedule for today
        .ui.small.header tasks due today
        .ui.small.header unread messages
        .ui.small.header unread tickets
        .ui.small.header events
        //- each today_events
        //-     .ui.header #{title} #{long_timestamp} #{_author_username}




template(name='games')
    .ui.stackable.padded.grid
        .row
            .sixteen.wide.column
                .ui.header 
                    i.dice.grey.icon
                    |games
        .row
            .four.wide.column
                .ui.segment
                    a.ui.header(href="/game/picker") picker
