template(name='nav')
    unless is_frontdesk
        //- .ui.borderless.attached.big.inverted.menu.topnav
        .ui.attached.borderless.inverted.big.menu.topnav.grgold
            //- a.toggle_sidebar.icon.item.sidebar_on
            //-     i.large.sidebar.icon
            if is_loading
                .icon.item
                    i.big.loading.yin.yang.icon
            else
                a.icon.item(href='/home' class="{{isActivePath '/home'}}")
                    +i name='circled-menu'
                    //- i.th.large.icon
                if is_staff
                    a.icon.item(href='/buildings' class="{{isActivePath '/buildings'}}")
                        //- i.building.large.icon
                        +i name='building'
                        .mobile.hidden &nbsp; buildings
                if is_staff
                    a.icon.item(href='/staff' class="{{isActivePath '/staff'}}")
                        //- i.shield.large.icon
                        +i name='user-shield'
                        .mobile.hidden &nbsp; staff
                    a.icon.item(href='/residents' class="{{isActivePath '/residents'}}")
                        //- i.users.large.icon
                        +i name='groups'
                        .mobile.hidden &nbsp; residents
                if is_manager
                    a.icon.item(href='/manager' class="{{isActivePath '/manager'}}")
                        //- i.shield.large.icon
                        +i name='user-shield'
                        .mobile.hidden &nbsp; manager
                if is_staff
                    a.icon.item(href='/healthclub' class="{{isActivePath '/healthclub'}}")
                        //- i.clinic.medical.large.icon
                        +i name='treadmill'
                        .mobile.hidden &nbsp; kiosk
                if is_user
                    a.icon.item(href='/users' class="{{isActivePath '/users'}}")
                        //- i.users.large.icon
                        +i name='groups'
                        .mobile.hidden &nbsp; users

            .right.menu
                if currentUser
                    unless logging_out
                        //- if is_dev
                        a.item.set_model(href='/m/model' class="{{isActivePath '/m/model'}}")
                            //- i.sitemap.large.icon
                            +i name='active-directory'
                        unless is_frontdesk
                            a.item(href="/user/#{currentUser.username}" class="{{isActiveRoute regex='user_chat'}}")
                                if currentUser.image_id
                                    img.ui.avatar.image(src="{{c.url currentUser.image_id width=100 height=100 gravity='face' crop='fill'}}")
                                else
                                    +i name='user'
                                //- | #{currentUser.username}
                    if logging_out
                        .item
                            i.large.loading.circle.notch.icon
                    //- else
                    //-     a#logout.ui.mobile.hidden.icon.item(href='#' title='Log Out')
                    //-         i.sign.out.large.icon
                else
                    a.item(href='/login' title='login') 
                        //- i.sign.in.large.icon
                        +i name='internal'
                        |login



template(name='footer')
    .ui.fluid.basic.attached.segment.footer
        .ui.container.stackable.grid
            .eight.wide.column
                form.inline(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top')
                    input(type='hidden', name='cmd', value='_s-xclick')
                    input(type='hidden', name='hosted_button_id', value='BUX7ZDWUFLVDQ')
                    //- // input(type='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif', border='0', name='submit')
                    //- <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                    img(alt='', border='0', src='https://www.paypal.com/en_US/i/scr/pixel.gif', width='1', height='1')
                    button.ui.button(type='submit')
                        |donate
                if is_dev    
                    with current_user
                        +role_switcher
            .eight.wide.column
                //- unless currentUser
                //-     a.ui.big.basic.button(href='/login')
                //-         i.sign.in.icon
                //-         |login
                if is_eric
                    with currentUser
                        +role_switcher
                else if is_dev
                    with currentUser
                        +role_switcher
        //- if is_user
        //-     .row
        //-         .ui.center.aligned.inverted.header
        //-             i.copyright.outline.icon
        //-             |


template(name='role_switcher')
    .ui.segment
        .ui.grey.inline.center.aligned.small.header 
            //- +i name='anonymous-mask'
            i.shield.icon(title='role switcher')
            |#{username} role switcher
        //- if is_eric
        //-     +user_array_element_toggle key='roles' value='dev' user=currentUser
        //- if current_user
        //-     with current_user
        //-         +multi_doc_edit key='roles' label='roles' ref_model='role' direct=true
        //- else if currentUser
        //-     with currentUser
        +multi_doc_edit key='roles' label='roles' ref_model='role' direct=true
        //- +user_array_element_toggle key='roles' value='admin' user=currentUser
        //- +user_array_element_toggle key='roles' value='user' user=currentUser
        //- +user_array_element_toggle key='roles' value='staff' user=currentUser
        //- +user_array_element_toggle key='roles' value='resident' user=currentUser
        //- +user_array_element_toggle key='roles' value='owner' user=currentUser
