template(name='nav')
    unless is_frontdesk
        //- .ui.borderless.attached.big.inverted.menu.topnav
        .ui.attached.inverted.menu.topnav
            //- a.toggle_sidebar.icon.item.sidebar_on
            //-     i.large.sidebar.icon
            if is_loading
                .icon.item
                    i.big.loading.refresh.icon
            else
                a.header.item(href='/' class="{{isActivePath '/'}}")
                    +i name='one-ring'
                    |gold run
                // if in_dev
                //     a.icon.item(href='/buildings' class="{{isActivePath '/buildings'}}")
                //         //- i.building.large.icon
                //         +i name='apartment'
                //         .mobile.hidden &nbsp; buildings
                if is_staff
                    a.icon.item.zoomer(href='/staff' class="{{isActivePath '/staff'}}")
                        //- i.shield.large.icon
                        +i name='user-shield'
                        .mobile.hidden &nbsp; staff
                    a.icon.item.zoomer(href='/residents' class="{{isActivePath '/residents'}}")
                        //- i.users.large.icon
                        +i name='groups'
                        .mobile.hidden &nbsp; residents
                a.icon.item.zoomer(href='/checkins' class="{{isActivePath '/checkins'}}")
                    //- i.users.large.icon
                    +i name='checkmark'
                    .mobile.hidden &nbsp; checkins
                if is_manager
                    a.icon.item.zoomer(href='/manager' class="{{isActivePath '/manager'}}")
                        //- i.shield.large.icon
                        +i name='user-shield'
                        .mobile.hidden &nbsp; manager
                if is_staff
                    a.icon.item(href='/checkin' class="{{isActivePath '/checkin'}}")
                        //- i.clinic.medical.large.icon
                        +i name='ipad'
                        .mobile.hidden &nbsp; kiosk
                // if is_user
                //     a.icon.item(href='/users' class="{{isActivePath '/users'}}")
                //         //- i.users.large.icon
                //         +i name='groups'
                //         .mobile.hidden &nbsp; users
            .right.menu
                if currentUser
                    a.icon.item(href="/inbox")
                        i.bell.icon
                    unless logging_out
                        //- if is_dev
                        unless is_frontdesk
                            a.item(href="/user/#{currentUser.username}" class="{{isActiveRoute regex='profile'}}")
                                if currentUser.image_id
                                    img.ui.avatar.image(src="{{c.url currentUser.image_id width=100 height=100 gravity='face' crop='fill'}}")
                                else
                                    +i name='user'
                                | #{currentUser.username}
                                if currentUser.points
                                    |&nbsp;
                                    small #{currentUser.points}p
                    if logging_out
                        .item
                            i.large.loading.circle.notch.icon
                    //- else
                    //-     a#logout.ui.mobile.hidden.icon.item(href='#' title='Log Out')
                    //-         i.sign.out.large.icon
                else
                    a.item(href='/login' title='login' class="{{isActiveRoute regex='login'}}") 
                        //- i.sign.in.large.icon
                        +i name='internal'
                        |login
        .ui.attached.inverted.small.menu 
            a.item(href="/products") 
                +i name='shop'
                |products
            a.item(href="/posts") 
                +i name='blog'
                |blog
            a.item(href="/services") 
                +i name='services'
                |services
            a.icon.item.zoomer(href='/units' class="{{isActivePath '/units'}}")
                //- i.users.large.icon
                +i name='room'
                .mobile.hidden &nbsp; units
            a.icon.item.zoomer(href='/groups' class="{{isActivePath '/groups'}}")
                +i name='campfire'
                .mobile.hidden &nbsp; groups
            a.icon.item.zoomer(href='/events' class="{{isActivePath '/events'}}")
                +i name='calendar'
                .mobile.hidden &nbsp; events
            a.icon.item.zoomer(href='/buildings' class="{{isActivePath '/buildings'}}")
                //- i.users.large.icon
                +i name='apartment'
                .mobile.hidden &nbsp; buildings
            a.item(href="/rentals")
                +i name='clock'
                |rentals
            a.item(href="/transfers") 
                +i name='exchange'
                |transfers


template(name='footer')
    .ui.fluid.basic.attached.segment.footer
        .ui.container.stackable.grid
            .sixteen.wide.column
                //- unless currentUser
                //-     a.ui.big.basic.button(href='/login')
                //-         i.sign.in.icon
                //-         |login
                if is_eric
                    with currentUser
                        +role_switcher
                else if is_dev
                    with currentUser
                        +role_switcher
        //- if is_user
        //-     .row
        //-         .ui.center.aligned.inverted.header
        //-             i.copyright.outline.icon
        //-             |


template(name='role_switcher')
    .ui.segment
        .ui.grey.inline.center.aligned.small.header 
            //- +i name='anonymous-mask'
            i.shield.icon(title='role switcher')
            |#{username} role switcher
        //- if is_eric
        //-     +user_array_element_toggle key='roles' value='dev' user=currentUser
        //- if current_user
        //-     with current_user
        //-         +multi_doc_edit key='roles' label='roles' ref_model='role' direct=true
        //- else if currentUser
        //-     with currentUser
        // +multi_doc_edit key='roles' label='roles' ref_model='role' direct=true
        +user_array_element_toggle key='roles' value='admin' user=currentUser
        +user_array_element_toggle key='roles' value='user' user=currentUser
        +user_array_element_toggle key='roles' value='staff' user=currentUser
        +user_array_element_toggle key='roles' value='resident' user=currentUser
        +user_array_element_toggle key='roles' value='owner' user=currentUser
