// template(name='kiosk_container')
//     with kiosk_doc
//         +Template.dynamic template=kiosk_view


template(name='checkin')
    img.ui.fluid.image.checkin_banner(src="{{c.url 'grfront' width=1000 height=1000 crop='crop'}}")
    .ui.grid.header-wrapper
        //- +Template.dynamic template=kiosk_view
        .row
            .sixteen.wide.center.aligned.column
                if is_staff
                    a.ui.compact.button(href='/staff')
                        i.left.chevron.icon
                        +i name='user-shield' classes='ui avatar image'
                        |staff
                img.ui.circular.centered.small.inline.image.shadowed(src="{{c.url 'gold_run_logo' }}")
        .row
            .sixteen.wide.column
                .row
                    +checkin_input
                    // .ui.center.aligned.basic.segment.test
                    //     if checkedout_members.length
                    //         each checkedout_members
                    //             +checkin_button
                    //     else
                    //         if checking_in
                    //             if is_query
                    //                 .ui.center.aligned.header No members found
                    //                 .ui.center.aligned.header See staff to add
                .ui.padded.grid
                    .two.column.row
                        .column
                            // +inline_doc slug='health_club_notices' classes='ui large header'
                            .ui.large.relaxed.list
                                .item
                                    .content
                                        .header Wifi
                                        .description Gold Run Health Club / goldrun1
                                .item
                                    .content
                                        .header Upstairs Code: 4589
                            .ui.big.relaxed.list
                                .item
                                    .content
                                        .header Onsite Manager
                                        .description 
                                            div Rick Hamp 
                                            div 303-545-1787
                                            div goldruncondos@gmail.com
                        .column
                            .ui.header Hours
                            .ui.large.list
                                .item Mon 7a-10p
                                .item Tues 7a-10p
                                .item Wed 7a-10p
                                .item Thur 7a-10p
                                .item Fri 7a-9p
                                .item Sat 8a-9p
                                .item Sun 8a-10p
                            // +healthclub_status
                            

template(name='facet_doc_edit')
    with facet_doc
        if is_staff
            +textarea_edit key='body'
        else 
            h3 
                +textarea_view key='body'
                        
                        
        
template(name='sign_waiver')
    with receipt_doc
        .ui.stackable.padded.grid
            .centered.row
                .twelve.wide.column.scrolling
                    .row
                        h1.ui.center.aligned.header
                            i.user.plus.icon
                            |Sign Waiver
                        with waiver_doc
                            |!{html}
                        +signature
                        .ui.fluid.green.button.sign_waiver
                            | Sign Waiver



template(name='checkin_button')
    .ui.massive.button.checkin.new_hc_session
        h2 #{first_name} #{last_name}
    // unless is_staff
    //     //- unless healthclub_checkedin
    //     .ui.massive.basic.button.checkin.new_hc_session
    //         h2 #{first_name} #{last_name}
    //     //- if healthclub_checkedin
    //     //- if is_staff
    //     //- else
    //     //-     .ui.big.basic.button.checkout
    //     //-         i.sign.out.icon
    //     //-             //- +i name='exit-sign' classes='ui avatar image'
    //     //-             |check out
    // if is_staff
    //     if healthclub_checkedin
    //         .ui.basic.button.checkout
    //             i.sign.out.icon
    //             //- +i name='exit-sign' classes='ui avatar image'
    //             |health club check out
    //     else
    //         .ui.massive.fade.animated.button.new_hc_session
    //             .visible.content
    //                 strong #{first_name} #{last_name}
    //             .hidden.content
    //                 |check in




template(name='set_kiosk_template')            
    .ui.button.set_kiosk_template #{label}





template(name='session')
    img.ui.fluid.image.checkin_banner(src="{{c.url 'grfront' width=1000 height=1000 crop='crop'}}")
    if loading_checkin
        .ui.center.aligned.basic.segment
            i.massive.loading.refresh.icon
            .ui.massive.header Running checks and loading profile
    else 
        .ui.padded.middle.aligned.grid.header-wrapper
            .two.column.row
                .column
                    //- if is_staff
                    //- a.ui.header(href="/user/#{user.username}")
                    .ui.big.icon.basic.button.cancel_checkin
                        i.big.ban.icon
                        |cancel
                    if current_resident.kiosk_photo
                        with current_resident
                            +image_view key='kiosk_photo' label='photo' direct=true classes='medium circular shadowed'
                    else
                        //- h1.ui.header Please click below to add photo
                        //- .ui.header (switch camera to front)
                        with current_resident
                            +image_edit key='kiosk_photo' label=' ' direct=true
                    //- img.ui.medium.circular.image(src="{{c.url user.image_id width=500 height=500 gravity='face' crop='fill'}}")
                    //- .meta @#{user.username}
                    //- +camera
                .column
                    with current_doc
                        h1.ui.huge.header.f11
                            |#{resident_first_name} #{resident_last_name} 
                    if adding_guests
                        .ui.header 
                            i.users.teal.icon
                            |guests
                        .ui.small.inline.header recent guests
                        each resident_guests
                            .ui.big.basic.teal.button.add_recent_guest #{guest_name} #{first_name} #{last_name}
                        div
                        .ui.big.basic.button.add_guest
                            i.plus.icon
                            strong new guest
                        +multi_doc_input key='guests' ref_model='guest' title='lookup previous...' direct=true
                        div
                        with checking_in_doc
                            if checking_in_doc.guest_ids
                                .ui.inline.header guests for this session
                                each checking_in_doc.guest_ids
                                    +resident_guest
                    else
                        .ui.big.basic.fluid.button.toggle_adding_guest 
                            i.plus.large.icon
                            |guest
                    with user
                        +user_check_steps
            .row
                .sixteen.wide.column
                    unless user.kiosk_photo
                        .ui.disabled.massive.fluid.button
                            |new photo required to sign in
                        //- .ui.center.aligned.header
                        //-     |please click 'Choose File' above, switch the camera to the front, and take photo to proceed 
                    unless user.member_waiver_signed
                        .ui.massive.fluid.red.basic.button.sign_guidelines
                            .ui.inline.header 
                                i.edit.icon
                                | sign member waiver            
                    unless user.rules_and_regulations_signed
                        .ui.massive.fluid.red.basic.button.sign_rules
                            .ui.inline.header 
                                i.edit.icon
                                | sign rules and regs
                    if user.email_red_flagged
                        .ui.disabled.massive.fluid.button
                            |email verification required, please see staff
                    if user.gov_red_flagged
                        .ui.disabled.massive.fluid.button
                            |Government Id verification required
                    unless user.gov_red_flagged
                        if user.kiosk_photo
                            if user.member_waiver_signed
                                if user.rules_and_regulations_signed
                                    unless user.email_red_flagged
                                        .ui.massive.fluid.basic.green.button.submit_checkin
                                            .ui.inline.inverted.header 
                                                | check in
            .row
                .sixteen.wide.column
                    if timer_engaged
                        .ui.small.grey.header auto check in #{timer} seconds
                        .ui.button.cancel_auto_checkin
                            i.ban.icon
                            | cancel auto check in
                
template(name='resident_guest')
    with guest_doc
        .ui.big.teal.basic.button.remove_guest 
            i.remove.icon
            |#{guest_name} #{first_name} #{last_name}
