template(name='posts') 
    .ui.padded.grid
        .row
            .sixteen.wide.column
                .ui.inline.header
                    +i name='groups'
                    |posts
            
                i.plus.large.circular.link.icon.add_post
                .ui.left.icon.huge.input
                    i.search.icon
                    input.name_search(type='text' placeholder='lookup post...')
                .ui.centered.four.stackable.cards
                    each post_docs
                        +post_card
                
                
template(name='post_card')                
    .ui.card
        .image
            //- a(href="/user/#{username}/")
            //- img(src="{{c.url image_id height=400 width=400 background='white' crop='pad'}}")
            img.ui.image(src="{{c.url image_id width=400 height=400 crop='fit'}}")
        .content
            a.ui.header(href="/post/#{_id}/") #{title}
            each tags 
                .ui.label #{this}
            |!{content}

            
template(name='post_edit')         
    with current_doc
        .ui.padded.two.column.centered.stackable.grid
            .column
                .image
                    img.ui.image(src="{{c.url image_id width=400 height=400 crop='fit'}}")
                    +text_edit key='title' label='title' icon='header' direct=true
                    +html_edit key='content' label='content' direct=true
            .column
                +array_edit key='tags' label='tags' icon='tags' direct=true
                +user_check_steps    
                a.ui.big.fluid.green.button(href="/post/#{_id}")
                    i.checkmark.icon
                    |save
                    
                    
                    
template(name='post_view')         
    with current_doc
        .ui.padded.three.column.stackable.grid
            .column
                a.ui.button(href="/posts")
                    i.chevron.left.icon
                    i.large.users.icon
                    |posts
                .image
                    //- a(href="/user/#{username}/")
                    //- img(src="{{c.url image_id height=400 width=400 background='white' crop='pad'}}")
                    if kiosk_photo
                        img.ui.image(src="{{c.url kiosk_photo width=400 height=400 crop='fit'}}")
                    else if image_id
                        img.ui.image(src="{{c.url image_id width=400 height=400 crop='fit'}}")
                h2.ui.center.aligned.header #{first_name} #{last_name} 
                // .ui.small.header @#{username}
                +text_view key='first_name' label='first name' direct=true
                +text_view key='last_name' label='last name' direct=true
                +text_view key='address' label='address' direct=true
                // +boolean_edit key='checked_in' label='currently checked in' direct=true
                if checked_in
                    .ui.big.green.label 
                        |checked in
                if last_checkout_timestamp
                    .ui.header last checkout: {{from_now last_checkout_timestamp}}
                if can_edit
                    a.ui.big.button(href="/post/#{_id}/edit")
                        i.pencil.icon
                        |edit
            .column
                +number_view key='unit_number' label='unit #' direct=true
                +number_view key='building_number' label='building #' direct=true
                +text_view key='email' label='email' direct=true
                +phone_view key='phone' label='phone' direct=true
            .column
                +date_view key='start_date' label='start date' direct=true
                +date_view key='expiration_date' label='expiration date' direct=true
                +user_check_steps    
                unless checked_in
                    .ui.big.button.checkin
                        i.green.checkmark.icon
                        |checkin
                if checked_in
                    .ui.big.button.checkout
                        i.red.checkmark.icon
                        |checkout
                .ui.header 
                    +i name='treadmill'
                    |health club checkins 
                .ui.list 
                    each post_checkins
                        .item 
                            .ui.header #{when}
                            if active
                                .ui.green.label #{active}
                            if checkout_timestamp
                                .ui.label checked out {{from_now checkout_timestamp}}
                            +print_this

            
