template(name='rentals')
    .ui.stackable.padded.grid
        .sixteen.wide.column
            .ui.inline.header 
                +i name='bedroom'
                |rentals
            .ui.icon.button.add_rental
                i.plus.icon
            .ui.cards
                each rental_docs
                    +rental_card
            
            
            


template(name='rental_view')
    with current_doc
        .ui.stackable.padded.grid
            .four.wide.column
                a.ui.large.button.fly_left(href="/rentals")
                    i.large.left.chevron.icon
                    +i name='cubes'
                    |rentals
                a.ui.big.button(href="/building/#{building_code}")
                    i.large.left.chevron.icon
                    |#{building_code}
                .ui.header
                    i.home.icon 
                    //- +i name='apartment'
                    |rental
                    |#{rental_number}
                .ui.header 
                    |Building #{building_number}
                .ui.header 
                    |building #{building_code}
                if can_edit
                    +text_edit key='building_code' label='building_code' direct=true
                    +number_edit key='building_number' label='building number' direct=true
                    +textarea_edit key='notes' direct=true
                +user_key
            .twelve.wide.column
                +rental_residents
                +rental_owners
                if is_springdale
                    +rental_permits

            
template(name='rental_card')
    a.ui.card(href="/rental/#{_id}") 
        .content 
            .ui.header
                |#{title}

            
template(name='rental_permits')            
    .ui.segment
        .ui.header 
            +i name='badge'
            |rental Permits
        .ui.cards
            each permits
                .ui.card
                    .content
                        with resident 
                            +username_info
                        +date_view key='expiration_date' icon='calendar delete' direct=true
                        +text_view key='permit' icon='badge' direct=true
                        +text_view key='license_plate' icon='driver-license-card' direct=true

template(name='rental_owners')            
    .ui.segment
        .ui.header 
            //- +i name='rent'
            i.money.icon
            |rental Owners
        .ui.four.cards
            each owners
                .ui.card
                    .image
                        img.ui.image(src="{{c.url image_id width=300 height=300 gravity='face' crop='fill'}}")
                    .content
                        a.header(href="/user/#{username}")
                             |#{first_name} #{last_name} 
                            .meta @#{username}
                            //- +array_view key='tags' label='Tags' direct=true


template(name='rental_residents')            
    .ui.segment
        .ui.header
            //- +i name='group'
            i.users.icon
            |rental Residents
        .ui.four.cards
            each rental_resident_docs
                .ui.card
                    .image
                        img.ui.image(src="{{c.url image_id width=300 height=300 gravity='face' crop='fill'}}")
                    .content
                        a.header(href="/user/#{username}")
                             |#{first_name} #{last_name} 
                            .meta @#{username}
                            .meta 
                                i.calendar.icon(title='expiration date')
                                |#{expiration_date}
                            //- +array_view key='tags' label='Tags' direct=true

template(name='rental_edit')         
    with current_doc
        .ui.padded.two.column.centered.grid
            .column
                +image_edit key='image_id'
                h2.ui.center.aligned.header #{rental_number} #{building_number} 
                +text_edit key='title' label='title' direct=true
                +text_edit key='address' label='address' direct=true
                // +text_edit key='email' label='Email' direct=true
            .column
                a.ui.big.fluid.green.button(href="/rental/#{_id}")
                    i.checkmark.icon
                    |save
