template(name='residents') 
    .ui.padded.grid
        .row
            .sixteen.wide.column
                i.plus.large.circular.link.icon.add_resident
                .ui.left.icon.huge.input
                    i.search.icon
                    input.name_search(type='text' placeholder='lookup resident...')
                .ui.centered.four.stackable.cards
                    each resident_docs
                        +resident_card
                
                
template(name='resident_card')                
    .ui.card
        .image
            //- a(href="/user/#{username}/")
            //- img(src="{{c.url image_id height=400 width=400 background='white' crop='pad'}}")
            if kiosk_photo
                img.ui.image(src="{{c.url kiosk_photo width=400 height=400 crop='fit'}}")
            else if image_id
                img.ui.image(src="{{c.url image_id width=400 height=400 crop='fit'}}")
        .content
            a(href="/resident/#{_id}/")
                h2.ui.center.aligned.header #{first_name} #{last_name} 
                .ui.small.header @#{username}
            +text_view key='first_name' label='First Name'
            +text_view key='last_name' label='Last Name'
            +text_view key='address' label='Address'
            +number_view key='unit_number' label='Unit #'
            +number_view key='building_number' label='Building #'
            +text_view key='email' label='Email'
            +phone_view key='phone' label='Phone'
            +date_view key='start_date' label='Start Date'
            +date_view key='expiration_date' label='Expiration Date'
            +user_check_steps            

            
template(name='resident_edit')         
    with current_doc
        .ui.padded.two.column.centered.grid
            .column
                .image
                    //- a(href="/user/#{username}/")
                    //- img(src="{{c.url image_id height=400 width=400 background='white' crop='pad'}}")
                    if kiosk_photo
                        img.ui.image(src="{{c.url kiosk_photo width=400 height=400 crop='fit'}}")
                    else if image_id
                        img.ui.image(src="{{c.url image_id width=400 height=400 crop='fit'}}")
                a(href="/user/#{username}/")
                    h2.ui.center.aligned.header #{first_name} #{last_name} 
                    .ui.small.header @#{username}
                +text_edit key='first_name' label='First Name' direct=true
                +text_edit key='last_name' label='Last Name' direct=true
                // +text_edit key='address' label='Address' direct=true
                +number_edit key='unit_number' label='Unit #' direct=true
                +number_edit key='building_number' label='Building #' direct=true
                +text_edit key='email' label='Email' direct=true
            .column
                +phone_edit key='phone' label='Phone' direct=true
                +date_edit key='start_date' label='Start Date' direct=true
                +date_edit key='expiration_date' label='Expiration Date' direct=true
                +user_check_steps    
                a.ui.big.fluid.green.button(href="/resident/#{_id}")
                    i.checkmark.icon
                    |save
template(name='resident_view')         
    with current_doc
        .ui.padded.three.column.grid
            .column
                .image
                    //- a(href="/user/#{username}/")
                    //- img(src="{{c.url image_id height=400 width=400 background='white' crop='pad'}}")
                    if kiosk_photo
                        img.ui.image(src="{{c.url kiosk_photo width=400 height=400 crop='fit'}}")
                    else if image_id
                        img.ui.image(src="{{c.url image_id width=400 height=400 crop='fit'}}")
                h2.ui.center.aligned.header #{first_name} #{last_name} 
                // .ui.small.header @#{username}
                +text_view key='first_name' label='first name' direct=true
                +text_view key='last_name' label='last name' direct=true
                +text_view key='address' label='address' direct=true
            .column
                +number_view key='unit_number' label='unit #' direct=true
                +number_view key='building_number' label='building #' direct=true
                +text_view key='email' label='email' direct=true
                +phone_view key='phone' label='phone' direct=true
            .column
                +date_view key='start_date' label='start date' direct=true
                +date_view key='expiration_date' label='expiration date' direct=true
                +user_check_steps    
                a.ui.big.button(href="/resident/#{_id}")
                    i.pencil.icon
                    |edit

            
template(name='users') 
    .ui.padded.grid
        .row
            .sixteen.wide.column
                //- .ui.center.aligned.header 
                //-     +i name='groups'
                //-     //- i.users.icon
                //-     |users
                .ui.left.icon.huge.fluid.input
                    i.search.icon
                    input.username_search(type='text' placeholder='lookup user...')
                .ui.centered.four.stackable.cards
                    each users
                        +user
template(name='user')                
    .ui.card
        .image
            //- a(href="/user/#{username}/")
            //- img(src="{{c.url image_id height=400 width=400 background='white' crop='pad'}}")
            if kiosk_photo
                img.ui.image(src="{{c.url kiosk_photo width=400 height=400 crop='fit'}}")
            else if image_id
                img.ui.image(src="{{c.url image_id width=400 height=400 crop='fit'}}")
        .content
            a(href="/user/#{username}/")
                h2.ui.center.aligned.header #{first_name} #{last_name} 
                .ui.small.header @#{username}
            each five_tags
                .ui.compact.small.circular.basic.button.person_tag(class=tag_class) 
                    strong #{this}
            +text_view key='first_name' label='First Name'
            +text_view key='last_name' label='Last Name'
