template(name='staff')
    .ui.stackable.padded.grid
        .row
            .four.wide.column
                .ui.grey.large.inline.header 
                    //- i.user.shield.icon
                    +i name='user-shield'
                    |staff
                //- i.massive.loading.brown.poo.icon
                a.ui.large.basic.button.add_resident
                    //- i.user.add.large.icon
                    +i name='add-user-male' classes='ui inline mini image'
                    strong add resident
                .ui.header
                    |#{checkedin_members.count} checked in members
            .twelve.wide.column
                // .ui.styled.fluid.large.accordion
                // .active.title
                +checkin_input

                .ui.header
                    +i name='groups' classes='ui inline image'
                    |active sessions
                    // i.dropdown.icon
                // .active.content
                .ui.stackable.doubling.centered.cards
                    each active_sessions
                        +hc_session
                .ui.header 
                    i.clock.icon
                    |old sessions
                .ui.list 
                    each old_session_docs 
                        .item #{when} #{resident_name}

template(name='checkin_input')
    .ui.massive.fluid.left.icon.input
        input.name_search(type='text' placeholder='resident first or last name...' autofocus)
        if is_query
            i.remove.link.icon.clear_results
        else 
            i.search.icon
    each search_results
        +checkin_button



template(name='hc_session')
    .ui.card
        if session_resident.kiosk_photo
            img.ui.image(src="{{c.url session_resident.kiosk_photo width=300 height=300 gravity='face' crop='fill'}}")
        else
            //- |old photo
            img.ui.image(src="{{c.url session_resident.image_id width=300 height=300 gravity='face' crop='fill'}}")
        .content
            a(href="/resident/#{session_resident.username}")
                .ui.inline.header
                    |#{session_resident.first_name} #{session_resident.last_name}
            .ui.small.grey.header #{when}
            with session_resident
                if address
                    div
                    +i name='marker' classes='ui avatar image'
                    |#{address}
                div
                    +i name='building' classes='ui avatar image'
                    |#{building_number}
                div
                    +i name='home' classes='ui avatar image'
                    | #{unit_number}
                //- +number_edit key='checkins_without_gov_id' label='alter checkins without gov id' direct=true
                //- +number_edit key='checkins_without_email_verification' label='alter checkins without email verification' direct=true
                //- +number_view key='unit_number' label='unit #' direct=true
                //- +text_view key='building_code' label='building code' direct=true
                +lease_expiration_check
                //- +rules_and_regs_check
                +user_check_steps 
                if active_violations
                    .ui.big.red.label active violations
                if staff_notes
                    .ui.small.grey.header
                        i.clipboard.icon(title='staff notes')
                        |#{staff_notes}       
            if checkin_guest_docs.count
                .ui.small.grey.header Guests
                each checkin_guest_docs
                    .ui.large.basic.label 
                        |#{guest_name} #{first_name} #{last_name}
            if user_is_resident
                +date_view key='start_date' label='start date' direct=true
                +date_view key='expiration_date' label='expiration date' direct=true
            .ui.fluid.button.sign_out
                +i name='exit' classes='ui mini inline image'
                |hc check out
