template(name='user_edit')
    with current_user          
        //- img.ui.fluid.image.banner_image(src="{{c.url banner_image_id width=1000 height=500 crop='crop'}}")    
        .ui.stackable.padded.grid
            .three.column.row
                .column
                    .ui.center.aligned.large.inline.grey.header
                        | #{current_user.first_name} #{current_user.last_name}
                    //- +i name='pencil'
                    .ui.small.inline.header @#{current_user.username}
                    a.ui.large.fluid.basic.button(href="/user/#{current_user.username}/") 
                        i.checkmark.large.green.icon
                        strong save
                    .ui.hidden.divider
                    +image_edit key='kiosk_photo' icon='picture' title='profile image' direct=true
                    if is_admin
                        +password_edit
                        //- +phone_editor
                        +username_edit
                    if is_admin
                        with current_user
                            .ui.orange.basic.button.remove_user 
                                i.remove.icon
                                |delete user
                .column
                    if user_is_resident_or_owner
                        if is_staff
                            +text_edit key='first_name' label='first name' icon='header' direct=true
                            +text_edit key='last_name' label='last name' icon='text' direct=true
                            +text_edit key='address' label='address' icon='marker' direct=true
                            +number_edit key='unit_number' label='unit #' icon='home' direct=true tip='apt #'
                            +number_edit key='building_number' label='building #' icon='building' direct=true tip='eg 203'
                            //- +text_edit key='building_code' label='building code' icon='building' direct=true
                            +number_edit key='healthclub_code' label='keycard code' icon='barcode' direct=true
                            +boolean_edit key='owner' label='owner' direct=true
                            +number_edit key='points' label='points' direct=true
                            .ui.segment
                                .ui.header 
                                    i.blue.envelope.icon
                                    |Email(s)
                                +emails_edit
                        // else
                        //     +text_view key='first_name' label='first name' direct=true
                        //     +text_view key='last_name' label='last name' direct=true
                        //     +text_view key='address' label='address' direct=true
                        //     +number_view key='unit_number' label='unit #' direct=true
                        //     +number_view key='building_number' label='building #' direct=true
                        //     //- +text_view key='building_code' label='building code' direct=true
                        //     +number_view key='healthclub_code' label='keycard code' icon='barcode' direct=true
                        //     +date_view key='start_date' label='start date' direct=true
                        //     +boolean_view key='owner' label='owner' direct=true
                        //     //- if user_is_owner
                        //     //-     +image_view key='ownership_paperwork' label='ownership paperwork' direct=true
                        //     //-     +pdf_view key='lease_agreement' label='lease agreement' direct=true
                        //     //- else if user_is_resident
                        //     //-     +date_view key='expiration_date' label='expiration date' direct=true
                        //     //-     +pdf_view key='lease_agreement' label='lease agreement' direct=true
                        //     //-     +pdf_edit key='lease_addendum' label='lease addendum' direct=true
                        //     //- +pdf_view key='member_guidelines_and_waiver' label='lease agreement' direct=true
                    //- +text_edit key='email' label='email' direct=true
                        +phone_edit key='phone' label='phone' icon='telephone' direct=true
                        //- +image_edit key='banner_image_id' label='banner image' direct=true
                        //- +text_edit key='tagline' label='tag line' direct=true
                        
                        //- if is_resident
                        //-     if is_staff
                        //-         +array_edit key='tags' label='tags' direct=true
                .column
                    if user_is_resident_or_owner
                        unless owner
                            if is_staff
                                .ui.segment
                                    +i name='home' classes='ui inline mini image'
                                    .ui.inline.header residency
                                    .ui.divider
                                    +pdf_edit key='lease_agreement' label='lease agreement (pdf)' icon='clipboard' direct=true
                                    .ui.horizontal.divider or
                                    +image_edit key='lease_agreement' label='lease agreement (image)' icon='picture' direct=true
                                    +pdf_edit key='lease_addendum' label='lease addendum' icon='clipboard' direct=true
                                    +date_edit key='start_date' label='start date' icon='calendar' direct=true
                                    +date_edit key='expiration_date' label='expiration date' icon='calendar minus' direct=true
                        if owner
                            if is_staff
                                .ui.segment
                                    +i name='rent' classes='ui inline mini image'
                                    .ui.inline.header owner
                                    .ui.divider
                                    +pdf_edit key='ownership_paperwork' label='ownership paperwork (pdf)' icon='pdf' direct=true
                                    .ui.horizontal.divider or
                                    +image_edit key='ownership_paperwork' label='ownership paperwork (image)' icon='picture' direct=true
                            //- .ui.hidden.divider
                        //- +pdf_edit key='member_guidelines_and_waiver' icon='signature' label='member guidelines and waiver' direct=true
                        .ui.hidden.divider
                        +boolean_edit key='active_violations' label='active violations' direct=true
                        //- if is_staff
                        //-     //- with current_user
                        //-     +boolean_edit key='government_id_checked' label='government id checked' icon='id-verified' direct=true
                        //-     +single_user_edit key='id_checked_by_staff' label='government id checked by' role_filter='staff' icon='user shield' direct=true
                        //-     +date_edit key='id_checked_date' label='government id checked date' icon='today' direct=true
                        //- else
                        //-     +boolean_view key='government_id_checked' label='government id checked' icon='id-verified' direct=true
                        //-     +text_view key='id_checked_by_staff' label='government id checked by' role_filter='staff' icon='user shield' direct=true
                        //-     +date_view key='id_checked_date' label='government id checked date' icon='today' direct=true
                            //- with current_user
                        //- +boolean_edit key='published' icon='eye' label='profile published'
                    
                    
template(name='user_settings')
    .ui.segment
        .ui.header 
            +i name='settings'
            |settings
        with current_user
            +boolean_edit key='show_bookmarked_model_bar' label='show bookmarked model bar' direct=true


template(name='user_model_editor')
    .ui.header profile sections
    each models
        .ui.basic.button.toggle_model(class=user_model_class title=title)
            i.icon(class=icon)
            |#{title}
            
            
template(name='user_single_doc_ref_editor')
    .ui.header #{label}
    each choices
        .ui.basic.button.select_choice(class=choice_class title=title)
            i.icon(class=icon)
            |#{title}

template(name='username_edit')
    .ui.small.header 
        i.i.cursor.icon
        |change username [#{current_user.username}]
    .ui.icon.fluid.input
        input.new_username(type='text' placeholder='new username...')
        i.play.link.icon.change_username


     
template(name='phone_editor')
    .ui.small.header    
        i.phone.icon
        |phone
    .ui.icon.fluid.input(title='Add Phone')
        i.plus.icon
        input#phone.form-control(type='phone', name='phone', value='{{newNumber}}')
    if current_user.profile.phone
        if current_user.profile.phone_verified
            .ui.green.label verified
        else
            p
                .ui.label not verified
                a.resend_verification(href='#')
                    |resend code
                .ui.small.icon.basic.button.remove_phone(title='remove phone')
                    i.remove.icon
    else
        .ui.fluid.basic.button.update_phone add phone



template(name='password_edit')
    .ui.small.grey.header
        +i name='password'
        |change password
    //- .ui.fluid.input
    //-     input#password(type='password', placeholder='old password')
    .ui.fluid.icon.input
        input#new_password(type='password', placeholder='new password')
    //- .ui.fluid.basic.button.change_password
    //-     i.refresh.icon
    //-     |set password
    if is_dev
        .ui.fluid.basic.button.send_enrollment_email
            |send enrollment email
    .ui.fluid.basic.button.set_password
        i.user.shield.icon
        | set password
            
            
            
         
         
template(name='user_field')         
    .ui.form
        .field  
            label #{label}
            input.user_field(type='text' value=key_value)
                        
                        
            
template(name='emails_edit')
    //- .ui.small.grey.header 
    //-     i.envelope.icon
    //-     | email(s)
    //- #test_email.ui.big.basic.button test email
    .ui.divided.list
        each current_user.emails
            .item 
                // unless verified
                //     .right.floated.content
                //         .ui.basic.button Verify
                .content
                    |#{address}
                    if verified
                        .ui.green.label verified
                    else
                        .ui.label unverified
                        .send_verification_email.ui.basic.button 
                            |verify
                            i.caret.right.icon
                    .ui.small.icon.basic.button.remove_email
                        i.remove.icon
    .ui.action.big.fluid.input
        input#new_email(type='email' placeholder='add new email address' autocomplete="off")
        #add_email.ui.submit.basic.button add email
